.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #61dafb;
}

.linked-in-button {
  width: 200px;
  height: 100px;
  background-color: black;
  color: grey;
  border: 2px solid grey;
  font-size: 50px;
}